<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>

<body>
  <h1>Welcome to <%= name %> world!</h1>
  <img src="/dolphin.jpg" />
  <form action="/user/login/mongoose" method="POST" class="w-75">
    <div class="mt-3 id">
      <label class="mb-2" for="input-email">아이디</label>
      <input type="text" name="id" class="form-control" id="input-email" placeholder="아이디를 입력하세요" required />
    </div>
    <div class="mt-3 password">
      <label class="mb-2" for="input-pw">비밀번호</label>
      <input type="password" name="password" class="form-control" id="input=pw" placeholder="비밀번호를 입력하세요" required />
    </div>
    <div class="d-flex justify-content-center mt-4 password">
      <button type="submit" class="btn btn-primary">로그인</button>
    </div>
  </form>
  <a href="/fetch">A 태그로 요청 보내기</a>
  <a href="#" onclick="frontFetch()">함수로 요청 보내기</a>
</body>
<script>
  const frontFetch = async () => {
    const fetchRes = await fetch('/fetch', {
      method: 'GET',
      headers: {
        'Content-type': 'application/json'
      },
    })
    const fetchData = await fetchRes.json();
    console.log(fetchData);
    //   .then(res => res.json())
    //   .then(data => console.log(data))
    // fetch는 promise/chain이나 async/awiat만 지원
  }
</script>

</html>